<form>
  <h2>ToDo hinzufügen:</h2>
  <div class="mb-2">
    <label class="form-label" for="newShowID">Beschreibung:</label>
    <input
      class="form-control"
      id="newToDoDescription"
      name="newToDoDescription"
      type="number"
      placeholder="Hier eine Beschreibung eingeben!"
      [(ngModel)]="toDo.description"
    />
  </div>

  <div>
    <label class="form-label" for="newShowTitle">Termin:</label>
    <input
      class="form-control"
      id="newShowtitle"
      name="newShowtitle"
      type="text"
      placeholder="Hier den Titel der Serie eingeben!"
      [(ngModel)]="toDo.title"
    />
  </div>

  <div class="mb-2">
    <button type="submit" class="btn btn-primary" (click)="save()">
      absenden
    </button>
  </div>
</form>
